@import "https://api.fontshare.com/v2/css?f[]=satoshi@400,401,500,700,701&display=swap";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem
  }
}


* {
  font-size: 1em;
  font-family: 'Satoshi', sans-serif;
  transition: all .3s ease-in-out;
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: .5rem;
  background-color: rgb(26, 23, 31);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(39, 71, 111);
  border-radius: 100px;
}

.CTA {
  animation: bounce 1.9s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(50%);
  }

  0% {
    transform: translateY(0);
  }
}